@media only screen and (max-width:668px) {
    
        .content{
            flex-direction: column;

        }
        .container{
            width: 100%;
            grid-template-columns: repeat(1.1fr);
             
        }
    
    
}